

*
{

    -fx-colorBlueFade: #EEF5FD;

    -fx-colorRed: #fae0de;

    -fx-colorRedFade: #fce7e6;

    -fx-colorGrey: #b3b3b3;

    -fx-colorGreyLight: #ebebeb;

    -fx-colorWhite: #FFFFFF ;




    /* The coloration used in the program */
    -mainBlueColor: -fx-colorBlueFade;
    -backGroundColor: -fx-colorWhite;
    -windowBackgroundColor: -fx-colorGrey;
    -secondaryBackgroundColor: -fx-colorWhite;
    -hoveredColor: -fx-colorGreyLight;
    -secondaryMainColor: -fx-colorRed;

    -mainBorderColor: -windowBackgroundColor;
    -backgroundBorder: -secondaryBackgroundColor;
}

.scroll-pane
{
    -fx-background-color: -backGroundColor;
    -fx-border-color: -mainBorderColor;

    /*-fx-border-radius: 5 0 0 0;*/

    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
}
.scroll-pane > .viewport
{
    -fx-background-color: -backGroundColor;
}
.combo-box > .text-field
{
    -fx-background-color: -secondaryBackgroundColor;
    -fx-background-radius: 10;
}
/*
-----------------------------------------------------------------Buttons-START-------------------------------------------------
 */
.custom-button
{
    -fx-background-color: -mainBlueColor;
    -fx-background-radius: 10;
}
.custom-button-hovered
{
    -fx-background-color: -hoveredColor;
}
.custom-button-focused
{
    -fx-background-color: -windowBackgroundColor;
}
.custom-button-text
{
    -fx-background-color: -backGroundColor;
    -fx-background-radius: 10;
    -fx-border-color: -backGroundColor;
    -fx-border-radius: 10;
    -fx-font-size: 15;
    -fx-padding: 5 10 5 10;
}
.custom-button-text-hovered
{
    -fx-border-color: -mainBorderColor;
}
.custom-button-text-focused
{
    -fx-border-color: -mainBorderColor;
}


.node-pages-button-node-marked{
    -fx-font-weight: bold;
}



.custom-menu-button
{
    -fx-padding: 30 60 30 60;
    -fx-border-radius: 0;
}
.custom-menu-button-home
{
    -fx-background-image: url("Scenes/ButtonImg/Menu/Home/homeicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-menu-button-home:hover
{
    -fx-background-image: url("Scenes/ButtonImg/Menu/Home/homefillicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-menu-button-dotoday
{
    -fx-background-image: url("Scenes/ButtonImg/Menu/DoToday/calendaricon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-menu-button-dotoday:hover
{
    -fx-background-image: url("Scenes/ButtonImg/Menu/DoToday/calendarfillicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-menu-button-overview
{
    -fx-background-image: url("Scenes/ButtonImg/Menu/Overview/menuicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-menu-button-overview:hover
{
    -fx-background-image: url("Scenes/ButtonImg/Menu/Overview/menufillicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}

.custom-other-button
{
    -fx-background-color: -secondaryBackgroundColor;
    -fx-padding: 10 20 10 20;
    -fx-border-radius: 10;
}
.custom-other-button-hovered
{
    /*-fx-background-color: -hoveredColor;*/
}
.custom-other-button-focused
{
    /*-fx-background-color: -windowBackgroundColor;*/
}
.custom-other-button-edit
{
    -fx-background-image: url("Scenes/ButtonImg/Others/Edit/editcircleicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-other-button-edit:hover
{
    -fx-background-image: url("Scenes/ButtonImg/Others/Edit/editcirclefillicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-other-button-edit:focused
{
    -fx-background-image: url("Scenes/ButtonImg/Others/Edit/editcirclefillicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-other-button-add
{
    -fx-background-image: url("Scenes/ButtonImg/Others/Plus/addcircleicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-other-button-add:hover
{
    -fx-background-image: url("Scenes/ButtonImg/Others/Plus/addcirclefillicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-other-button-add:focused
{
    -fx-background-image: url("Scenes/ButtonImg/Others/Plus/addcirclefillicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-other-button-remove
{
    -fx-background-image: url("Scenes/ButtonImg/Others/Minus/minuscircleicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-other-button-remove:hover
{
    -fx-background-image: url("Scenes/ButtonImg/Others/Minus/minuscirclefillicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-other-button-remove:focused
{
    -fx-background-image: url("Scenes/ButtonImg/Others/Minus/minuscirclefillicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-other-button-back
{
    -fx-background-image: url("Scenes/ButtonImg/Others/Back/backicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-other-button-back:hover
{
    -fx-background-image: url("Scenes/ButtonImg/Others/Back/backfillicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-other-button-back:focused
{
    -fx-background-image: url("Scenes/ButtonImg/Others/Back/backfillicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-other-button-accept
{
    -fx-background-image: url("Scenes/ButtonImg/Others/Accept/accepticon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-other-button-accept:hover
{
    -fx-background-image: url("Scenes/ButtonImg/Others/Accept/acceptfillicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-other-button-accept:focused
{
    -fx-background-image: url("Scenes/ButtonImg/Others/Accept/acceptfillicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-other-button-delete
{
    -fx-background-image: url("Scenes/ButtonImg/Others/Delete/deleteicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-other-button-delete:hover
{
    -fx-background-image: url("Scenes/ButtonImg/Others/Delete/deletefillicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-other-button-delete:focused
{
    -fx-background-image: url("Scenes/ButtonImg/Others/Delete/deletefillicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-other-button-forward
{
    -fx-background-image: url("Scenes/ButtonImg/Others/Forward/forwardicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-other-button-forward:hover
{
    -fx-background-image: url("Scenes/ButtonImg/Others/Forward/forwardfillicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-other-button-forward:focused
{
    -fx-background-image: url("Scenes/ButtonImg/Others/Forward/forwardfillicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}



.custom-controls-button
{
    -fx-background-color: -secondaryBackgroundColor;
    -fx-padding: 10 20 10 20;
    -fx-border-radius: 10;
}
.custom-controls-button-hovered
{
    /*-fx-background-color: -hoveredColor;*/
}
.custom-controls-button-focused
{
    /*-fx-background-color: -windowBackgroundColor;*/
}
.custom-controls-button-pause
{
    -fx-background-image: url("Scenes/ButtonImg/TimerControls/Pause/pauseicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-controls-button-pause:hover
{
    -fx-background-image: url("Scenes/ButtonImg/TimerControls/Pause/pausefillicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-controls-button-pause:focused
{
    -fx-background-image: url("Scenes/ButtonImg/TimerControls/Pause/pausefillicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-controls-button-play
{
    -fx-background-image: url("Scenes/ButtonImg/TimerControls/Play/playicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
    -fx-background-size: contain;
}
.custom-controls-button-play:hover
{
    -fx-background-image: url("Scenes/ButtonImg/TimerControls/Play/playfillicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-controls-button-play:focused
{
    -fx-background-image: url("Scenes/ButtonImg/TimerControls/Play/playfillicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-controls-button-stop
{
    -fx-background-image: url("Scenes/ButtonImg/TimerControls/Stop/stopicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-controls-button-stop:hover
{
    -fx-background-image: url("Scenes/ButtonImg/TimerControls/Stop/stopfillicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-controls-button-stop:focused
{
    -fx-background-image: url("Scenes/ButtonImg/TimerControls/Stop/stopfillicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-controls-button-skip
{
    -fx-background-image: url("Scenes/ButtonImg/TimerControls/Skip/skipicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-controls-button-skip:hover
{
    -fx-background-image: url("Scenes/ButtonImg/TimerControls/Skip/skipfillicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-controls-button-skip:focused
{
    -fx-background-image: url("Scenes/ButtonImg/TimerControls/Skip/skipfillicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-controls-button-popout
{
    -fx-background-image: url("Scenes/ButtonImg/TimerControls/Popout/popouticon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-controls-button-popout:hover
{
    -fx-background-image: url("Scenes/ButtonImg/TimerControls/Popout/popoutfillicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-controls-button-popout:focused
{
    -fx-background-image: url("Scenes/ButtonImg/TimerControls/Popout/popoutfillicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-controls-button-popout-marked
{
    -fx-background-image: url("Scenes/ButtonImg/TimerControls/Popout/popoutmarkedicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-controls-button-popout-marked:hover
{
    -fx-background-image: url("Scenes/ButtonImg/TimerControls/Popout/popoutfillmarkedicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-controls-button-popout-marked:focused
{
    -fx-background-image: url("Scenes/ButtonImg/TimerControls/Popout/popoutfillmarkedicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-controls-button-sound
{
    -fx-background-image: url("Scenes/ButtonImg/TimerControls/Sound/soundonicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-controls-button-sound:hover
{
    -fx-background-image: url("Scenes/ButtonImg/TimerControls/Sound/soundonfillicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-controls-button-sound:focused
{
    -fx-background-image: url("Scenes/ButtonImg/TimerControls/Sound/soundonfillicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-controls-button-sound-marked
{
    -fx-background-image: url("Scenes/ButtonImg/TimerControls/Sound/soundofficon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-controls-button-sound-marked:hover
{
    -fx-background-image: url("Scenes/ButtonImg/TimerControls/Sound/soundofffillicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-controls-button-sound-marked:focused
{
    -fx-background-image: url("Scenes/ButtonImg/TimerControls/Sound/soundofffillicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
/*
-----------------------------------------------------------------ChoiceLines-START-----------------------------------------
 */
.choice-textfield
{
    -fx-background-color: -secondaryBackgroundColor;
    -fx-border-color: -mainBorderColor;
    -fx-padding: 10 10 10 10;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}
.choice-textfield-hovered
{
    -fx-background-color: -hoveredColor;
    -fx-border-color: -mainBorderColor;
}
.choice-textfield-focused
{
    -fx-background-color: -windowBackgroundColor;
    -fx-border-color: -mainBorderColor;
}
.choice-textfield-error
{
    -fx-background-color: -secondaryMainColor;
}
.choice-textfield-label
{

}
.choice-textfield-textfield
{
    -fx-background-color: -secondaryBackgroundColor;
    -fx-border-color: -mainBorderColor;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}
.choice-textfield-textfield:disabled, .choice-textfield-textfield:disabled > *
{
    -fx-opacity: 0.8;
}

.choice-combobox
{
    -fx-background-color: -secondaryBackgroundColor;
    -fx-border-color: -mainBorderColor;
    -fx-padding: 10 10 10 10;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}
.choice-combobox .list-view
{
    -fx-background-color: -secondaryBackgroundColor;
    -fx-border-color: -mainBorderColor;
    -fx-padding: 10 10 10 10;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-min-height: 150;
}
.choice-combobox .list-view .list-cell:hover
{
    -fx-background-color: -secondaryBackgroundColor;
    -fx-border-color: -mainBorderColor;
    -fx-text-fill: Black;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}
.choice-combobox .list-view .list-cell:focused
{
    -fx-background-color: -secondaryMainColor;
    -fx-text-fill: Black;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}
.choice-combobox-hovered
{
    -fx-background-color: -hoveredColor;
    -fx-border-color: -mainBorderColor;
}
.choice-combobox-focused
{
    -fx-background-color: -windowBackgroundColor;
    -fx-border-color: -mainBorderColor;
}
.choice-combobox-error
{
    -fx-background-color: -secondaryMainColor;
}
.choice-combobox-label
{

}
.choice-combobox-combobox
{
    -fx-background-color: -backGroundColor;
    -fx-border-color: -mainBorderColor;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
}
.choice-combobox-combobox:disabled, .choice-combobox-combobox:disabled > *
{
    -fx-opacity: 0.8;
}
.choice-combobox-combobox-writable > .arrow-button
{
    -fx-background-color: -secondaryMainColor;
    -fx-background-radius: 0 10 10 0;
    -fx-border-color: -secondaryMainColor;
    -fx-border-radius: 0 10 10 0;
}
/*
-----------------------------------------------------------------ChoiceLines-END---------------------------------------------
 */
/*
-----------------------------------------------------------------Headline&Sizing-START-----------------------------------------
 */
.headline
{
    -fx-background-color: -secondaryBackgroundColor;
    -fx-padding: 10 10 0 10;
}

.headline-halfround
{
    -fx-background-color: -secondaryBackgroundColor;
    -fx-border-color: -mainBorderColor;
    -fx-padding: 0;
}
.headline-label
{
    -fx-font-weight: bold;
}
.headline-label:disabled, .headline-label:disabled > *
{
    -fx-opacity: 0.8;
}

.headline-timerandstatus
{
    -fx-background-color: -secondaryBackgroundColor;
    -fx-border-color: -mainBorderColor;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.headline-buttoncontainer
{
    -fx-border-color: transparent;
    -fx-spacing: 10;
}


.textfield-sizing
{
    -fx-background-color: -secondaryBackgroundColor;
    -fx-border-color: -mainBorderColor;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

/*
-----------------------------------------------------------------Headline&Sizing-END-----------------------------------------
 */
/*
-----------------------------------------------------------------Node-Containers-START-------------------------------------------------
 */
.custom-menu-bar
{
    -fx-background-color: -mainBlueColor;
    -fx-max-width: 50;
}
.custom-menu-bar-part-pane
{
    -fx-background-color: -mainBlueColor;
    -fx-background-radius: 0 5 5 0;

    -fx-border-color: -backgroundBorder;
    -fx-border-radius: 0 5 5 0;

}
.custom-menu-bar-part-label
{
    -fx-font-size: 20;
}
.custom-menu-seperator
{
    -fx-max-width: 90;
    -fx-translate-x: 15;
}



.node-bar-h
{
    -fx-background-color: -secondaryBackgroundColor;
    -fx-border-color: -mainBorderColor;
    -fx-padding: 10 10 10 10;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-spacing: 10;
}
.node-bar-h-error
{
    -fx-background-color: -secondaryMainColor;
}
.node-bar-h-node-error
{
    -fx-background-color: -secondaryMainColor;
    -fx-border-color: red;
}

.node-pages
{
    -fx-spacing: 10;
}
.node-pages-container
{
    -fx-background-color: -backGroundColor;
    -fx-border-color: -mainBorderColor;
    -fx-background-radius: 10;
    -fx-border-radius: 0;
}

.taskline
{
    -fx-background-color: -mainBlueColor;
    -fx-border-color: -mainBorderColor;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 10;
    -fx-spacing: 10;
}

.projectline
{
    -fx-background-color: -mainBlueColor;
    -fx-border-color: -mainBorderColor;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 10;
    -fx-spacing: 10;
}


/*
-----------------------------------------------------------------Node-Containers-END--------------------------------------------------
 */
/*
-----------------------------------------------------------------Windows-START--------------------------------------------
 */
.miniscene
{
    -fx-background-color: transparent;
}
.custom-window
{
    -fx-background-color: -backGroundColor;
    -fx-padding: 10 10 10 10;
}
.custom-window-settings
{
    -fx-background-color: -mainBlueColor;
    -fx-border-color: -mainBorderColor;
    -fx-background-radius: 0 0 10 10;
    -fx-border-radius: 0 0 10 10;
    -fx-spacing: 10;
}
.custom-window-pomodoro
{
    -fx-background-color: -mainBlueColor;
    -fx-border-color: -mainBorderColor;
    -fx-background-radius: 0 0 10 10;
    -fx-border-radius: 0 0 10 10;
    -fx-spacing: 10;
}
.custom-window-nodepages
{
    -fx-background-color: -mainBlueColor;
    -fx-border-color: -mainBorderColor;
    -fx-background-radius: 0 0 10 10;
    -fx-border-radius: 0 0 10 10;
    -fx-spacing: 10;
}


/*
-----------------------------------------------------------------Windows-END-----------------------------------------------
 */

/*
-----------------------------------------------------------------Screens-START--------------------------------------------
 */
.screen-home
{
    -fx-background-color: -backGroundColor;
}
.screen-overview
{
    -fx-background-color: -backGroundColor;
}
.screen-dotoday
{
    -fx-background-color: -backGroundColor;
}

/*
-----------------------------------------------------------------Screens-END--------------------------------------------
 */

