
/*
-----------------------------------------------------------------Menu-START-------------------------------------------------
 */
.custom-menu-button-overview
{
    -fx-background-image: url("ButtonImg/Menu/Overview/menufillicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
.custom-menu-button-overview:hover
{
    -fx-background-image: url("ButtonImg/Menu/Overview/menuselectedicon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
/*
-----------------------------------------------------------------Menu-END--------------------------------------------------
 */